@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: bisque;
}

.info {
    height: 10vh;
    background-color: bisque;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    margin: auto;
}

.account {
    position: relative;
    padding: 4px;
    border-bottom: 1px solid black;
}


.account ul{
    position: absolute;
    margin-top: 10px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    
    pointer-events: none;
    opacity: 0;
    /*transform: translateY(-10px);*/
    
}


.account li{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 212, 198);
    border-radius: 5px;
    
}

.account button:focus + ul{
    pointer-events: all;
    opacity: 1;
}


.account a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.info button{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}



.container {
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
/*    border-style: solid;*/
}

.cashier_buttons {
    position: relative;
/*    border-style: solid;*/
    display: inline-block;
    margin: 30px;
    width: 800px;
    height: 400px;
    cursor: pointer;
}

/*CSS FOR WHEN MANAGER IS LOGGED IN*/
.GMcashier_button {
    display: inline-block;
    position: relative;
    font-size: 60px;
    margin: 10px;
    width: 340px;
    height: 380px;
    cursor: pointer;
    border-radius: 25px;
}
.SMcashier_button {
    display: inline-block;
    position: relative;
    font-size: 60px;
    margin: 10px;
    width: 340px;
    height: 380px;
    cursor: pointer;
    border-radius: 25px;
}

/*CSS FOR WHEN CASHIER IS LOGGED IN*/
.CScashier_button {
    display: inline-block;
    position: relative;
    font-size: 60px;
    margin: 10px;
    width: 340px;
    height: 380px;
    cursor: pointer;
    border-radius: 25px;
    transform: translate(-0%, 25%);
}

.manager_buttons {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

/*CSS FOR WHEN MANAGER IS LOGGED IN*/
.GMmanager_button {
    display: inline-block;
    position: relative;
    width: 233px;
    height: 200px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 25px;
}
.SMmanager_button {
    display: inline-block;
    position: relative;
    width: 233px;
    height: 200px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 25px;
} 

/*CSS FOR WHEN CASHIER IS LOGGED IN*/
.CSmanager_button {
    visibility: hidden;
    display: inline-block;
    position: relative;
    width: 233px;
    height: 200px;
    font-size: 25px;
    border-radius: 25px;
}

#clearUsersInDatabase {
    position: fixed;
    bottom: 5%;
    right: 2%;
    background-color: #1389c7;
    border: 1px solid black;
    border-radius: 25px;
}





