@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: bisque;
}

.info {
    height: 10vh;
    background-color: bisque;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    margin: auto;
}

.search-box{
    position: absolute;
    border: 2px solid black;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: #434040;
    height: 40px;
    width: 350px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn{
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.search-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding 0;
    color: white;
    font-size: 16px;
}

.account {
    position: relative;
    padding: 4px;
    border-bottom: 1px solid black;
}


.account ul{
    position: absolute;
    margin-top: 10px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    
    pointer-events: none;
    opacity: 0;
    /*transform: translateY(-10px);*/
    
}


.account li{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 212, 198);
    border-radius: 5px;
    
}

.account button:focus + ul{
    pointer-events: all;
    opacity: 1;
}


.account a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.info button{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.createbutton{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 45%;
    margin-right: 40%: 
    width: 20%;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
}

.GMbutton {
     display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 45%;
    margin-right: 40%: 
    width: 20%;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
}

.SMbutton {
   display: inline-block;
    position: relative;
    font-size: 20px;
    margin-left: 45%;
    margin-right: 40%: 
    width: 20%;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
}

.CSbutton {
    visibility: hidden;
    display: none;
    position: relative;
    font-size: 20px;
    margin-left: 45%;
    margin-right: 40%; 
    width: 20%;
    height: 50px;
    cursor: auto;
    border-radius: 10px;
}

.Item-Card{
    background-color: #EFEFEF;
    border: 3px solid black;
    width: 20vw;
    min-width:300px;
    min-height:150px;
    max-height: 200px;
    cursor: pointer;
    display: flex;
    padding-left:1rem;
    padding-right:1rem;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.Card-Container{
    
/*
    display: flex;
    justify-content: space-between;
*/
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 2rem;
    
}


.Card-Footer{
    display: flex;
    width:100%;
    flex-direction:row;
    align-self: flex-end;
    flex-direction:row!important;
    justify-content: space-between;
    margin-top:4rem;

}

.Card-Description{
    width:100%;
    flex-direction:row;
    font-size:.8rem;
    align-self: flex-end;
}

.Card-Header{
    font-size:2rem;

}

.backButton{
    font-family: Hack, monospace;
    background: #d3d3d3;
    color: #2c2c2c;
    cursor: pointer;
    font-size: 30px;
    border: 0;
    border-radius: 10px;
    width: 40px;
    height 40px;
    position: fixed;
    left: 20px;
    top: 20px;
}










