<!DOCTYPE HTML>
<html>
    {% load static %}
    <head>
        <title>Login Page</title>
        <link rel="shortcut icon" type="image/png" href="{% static '/img/login_icon_w.png' %}">
    </head>
	       <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <body>
        <div id="login" class="login-box">
            <h1>Login</h1>
            <div class="textbox">
                <i class="fa fa-user-secret" aria-hidden="true"></i>
                <input type="text" id="employee_id" placeholder="Username" name="employee_id" value="" required>
            </div>
            <div id="id_error" style="display: none" class="error_msg">Error: Username must be numerical</div>
            
            <div class="textbox">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" id="user_password" placeholder="Password" name="user_password" value="" required>
            </div>
            <div id="password_error" style="display: none" class="error_msg">Error: Password cannot be blank</div>

            <div id="login_error" style="display: {{invalid_login}}; visibility: visible" class="error_msg">Username and/or password not found</div>

            <input class= "btn" type="button" name="login_click" onclick="validateLogin()" value="Sign in">
        
        </div>
        
    
    <script type="text/javascript" data-no_users="{{no_users}}" data-valid_info="{{valid_info}}" src="{% static '/scripts/index.js' %}">
    </script>
    <script type="text/javascript"> 
        no_users = {{no_users}};
        valid_info = {{valid_info}};
        init(no_users,valid_info);
    </script>
    </body>
</html>
