<!DOCTYPE HTML>
<html>
    <head>
        <title>Login Page</title>
	{% load static %}
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
    </head>
    <body>
        <div id="login" class="login-box">
            <h1>Login</h1>
            <div class="textbox">
                <i class="fa fa-user-secret" aria-hidden="true"></i>
                <input type="text" id="employee_id" placeholder="Username" name="employee_id" value="" required>
            </div>
            <div id="id_error" style="display: none" class="error_msg">Error: Username must be numerical</div>
            
            <div class="textbox">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" id="user_password" placeholder="Password" name="user_password" value="" required>
            </div>
            <div id="password_error" style="display: none" class="error_msg">Error: Password cannot be blank</div>

            <div id="login_error" style="display: {{invalid_login}}; visibility: visible" class="error_msg">Username and/or password not found</div>

            <input class= "btn" type="button" name="login_click" onclick="validateLogin()" value="Sign in">
            <input id="go_to_create_account"  class= "btn" type="button" onclick="gotoCreateAccount()" name="go_to_create_account" value="Create account" >
        </div>
        <div id="createUser" class="create-user">
            <h1>Create User</h1>
            <div class="textbox">
                 <i class="fa fa-tag" aria-hidden="true"></i>
                <input type="text" placeholder="Firstname" id="cfirst_name" value="" required>
            </div>    
            <div id="fname_error" style="display: none" class="error_msg">Error: First name cannot be blank</div>
			<div id ="fname_alpha" style="display: none" class="error_msg">Error: First name must only contain alphabetical letters</div>
            <div class="textbox">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <input type="text" placeholder="Lastname" id="clast_name" name="last_name" value="" required>
            </div>     
            <div id="lname_error" style="display: none" class="error_msg">Error: Last name cannot be blank</div>
			<div id="lname_alpha" style="display: none" class="error_msg">Error: Last name must only contain alphabetical letters</div>
            <div class="textbox">
                <i class="fa fa-id-card-o" aria-hidden="true"></i>
                <input type="text" placeholder="Employee ID" id="cemployee_id"  name="employee_id" value="" required>
            </div>
            <div id="uid_error" style="display: none" class="error_msg">Error: Employee ID must be 5 digits and not blank</div>
            <div id="cid_error" style="display: none" class="error_msg">Error: Employee ID must be 5 digits</div>
            <div class="textbox">
                <i class="fa fa-street-view" aria-hidden="true"></i>
                <input type="text" placeholder="Role" id="crole" name="role" value="" required>
            </div> 
            <div id="crole_error" style="display: none" class="error_msg">Error: Role must be GM SM or CS</div>
            <div class="textbox">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" placeholder="Password" id="cuser_password" name="user_password" value="" required>
            </div>
            <div id="cpassword_error" style="display: none" class="error_msg">Error: Password cannot be blank</div>
            <input class= "btn" type="button" name="create_click" value="Create Account" onclick="validateCreateAccount()"> 
            <input class= "btn" type="button" name="" value="Back" onclick="gotoLogin()">
            <div style="display: none" class="error_msg">Error: Try Again</div>
        </div>
    <script type="text/javascript" data-no_users="{{no_users}}" data-valid_info="{{valid_info}}" src="{% static '/scripts/index.js' %}">
    </script>
    <script type="text/javascript"> 
        no_users = {{no_users}};
        valid_info = {{valid_info}};
        init(no_users,valid_info);
    </script>
    </body>
</html>
