<!DOCTYPE HTML>
<html>
    {% load static %}
    <head>
        <title>Menu</title>
        <link rel="shortcut icon" type="image/png" href="{% static '/img/menu_icon_w.png' %}">
    </head>
	
	<link rel="stylesheet" href="{% static '/css/menu.css' %}">
    <script type="text/javascript" src="{% static 'scripts/index_menu.js' %}" defer></script>
    <body>
        <nav>
        <div class="info">
            <div class="account">
                <a>{{role}}</a>
                <button id="acc_btn"><a>{{first_name}} {{last_name}}</a></button>
                <ul>
                    <li><a>ID: {{employee_id}}</a></li>
                </ul>
            </div>
            <button type="submit" name="logout_click" onclick="logout_click();"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
        </div>
        </nav>
    
       
        <form method="POST">
        <input id="clearUsersInDatabase" type="submit" name='clear_db' value="Clear Users">
        </form>
        <div class="container">
            <div class="cashier_buttons">
                <button class="{{role}}cashier_button" id="startTransaction">Start<br>Transaction</button>
                <button class="{{role}}cashier_button" id="viewProducts">View<br>Products</button>
            </div>
            <div class="manager_buttons">
                <button class="{{role}}manager_button" id="createEmployee">Create Employee</button>
                <button class="{{role}}manager_button" id="salesReport">Sales Report</button>
                <button class="{{role}}manager_button" id="cashierReport">Cashier Report</button>
            </div>
        </div>

    </body>
</html>
