<!DOCTYPE HTML>
<html>
    <head>
        <title>Menu</title>
    </head>
	{% load static %}
	<link rel="stylesheet" href="{% static '/css/menu.css' %}">
    <body>
        <h1 id="tmp">MENU</h1>
	<div>
        <form method="POST">
        <input id="clearUsersInDatabase" type="submit" name='clear_db' value="Clear Users">
        </form>
        <div class="container">
            <div class="cashier_buttons">
                <button class="cashier_button">Start</br>Transaction</button>
                <button class="cashier_button">View</br>Products</button>
            </div>
            <div class="manager_buttons">
                <button class="manager_button">Create Employee</button>
                <button class="manager_button">Sales Report</button>
                <button class="manager_button">Cashier Report</button>
            </div>
        </div>
    </body>
</html>
