<!DOCTYPE HTML>
<html>
 {% load static %}
    <head>
        <title>Product Listing</title>
    </head>
    	<link rel="stylesheet" href="{% static '/css/product_listing.css' %}">

		<script type="text/javascript" src="{% static 'scripts/master.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'scripts/productListing.js' %}" defer></script>
        <script type="text/javascript" data-valid_info="{{products}}" src="{% static '/scripts/productListing.js' %}">
        </script>
		
    <body>
        <button class="backButton" onclick="back()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
        <nav>
        <div class="info">
            <div class="search-box">
                <input class="search-text" type="text" name="" placeholder="For Later Sprints">
                <a class="search-btn" href="#">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </div>
            <div class="account">
                <a>{{role}}</a>
                <button id="acc_btn"><a>{{first_name}} {{last_name}}</a></button>
                <ul>
                    <li><a>ID: {{employee_id}}</a></li>
                </ul>
            </div>
            <button id="logout_button" type="submit" name="logout_click" ><i class="fa fa-sign-out" aria-hidden="true"></i></button>
        </div>
    </nav>
    
        <div class="createbutton">
            <button id="createNewButton" class="{{role}}button" >Create New</button>
        </div>
        <div class="Card-Container">
        {% for product in products %}
        <div id="{{product.0}}" class="Item-Card">
            <div class="Card-Header">
                <p>{{product.1}}</p>
            </div>
            <div class="Card-Description">
                <p>Description: {{product.3}}</p>
            </div>
            <div class="Card-Footer">
                <p>ID#: {{product.0}}</p>
                <p>Q: {{product.4}}</p>
                <p>Price: ${{product.2}} </p>
            </div>

        </div>
        {% endfor %}

        </div>
        <script type="text/javascript">
            product_info={{products|safe}};
            init_list(product_info);
        </script>
       

   </body>
</html>
