<!DOCTYPE HTML>
<html>
 {% load static %}
    <head>
        <title>Product Listing</title>
    </head>
    	<link rel="stylesheet" href="{% static '/css/product_listing.css' %}">

		<script type="text/javascript" src="{% static 'scripts/master.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'scripts/ProductListing.js' %}" defer></script>
		
    <body>

        <nav>
        <div class="info">
            <div class="search-box">
                <input class="search-text" type="text" name="" placeholder="Product to Search">
                <a class="search-btn" href="#">
<!--                    <i class="fa fa-search" aria-hidden="true"></i>-->
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                </a>
            </div>
            <div class="account">
                <a>{{role}}</a>
                <button id="acc_btn"><a>{{first_name}} {{last_name}}</a></button>
                <ul>
                    <li><a>ID: {{employee_id}}</a></li>
                </ul>
            </div>
            <button id="logout_button" type="submit" name="logout_click" ><i class="fa fa-sign-out" aria-hidden="true"></i></button>
        </div>

        <div >
            <button id="createNewButton" class="button">Create New</button>
        </div>

<!--
        <div>
            <p>{{item_id}}</p>
            <p>{{item_name}}</p>
            <p>${{item_price}}</p>
            <p>{{item_description}}</p>
            <img src="{{photo}}">

        </div>
-->
        </nav>

   </body>
</html>
